body {
	background-color: #f0f0f0;
	color: #404040;
	font-size: 1.1em;
	line-height: 150%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	color: rgb(17, 64, 134);
	font-size: 1.5em;
	margin-bottom: 1em;
}

a {
	color: rgb(17, 64, 134);
}

.main {
	margin: 20px auto 20px auto;
	max-width: 600px;
}

.content {
	padding: 20px 30px;
	background-color: white;
	border: 1px #e0e0e0 solid;
	border-radius: 5px;
}

.logo {
	width: 140px;
	float: right;
	margin: 0.2em 0;
}

.logohome {
	width: 160px;
}

.clear {
	clear: both;
}

#lang {
	text-align: right;
	height: 24px;
}
