body {
	background-color: #f0f0f0;
	color: #404040;
	font-size: 1.1em;
	line-height: 150%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	color: navy;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.main {
	padding: 50px;
	margin: 50px auto 50px auto;
	max-width: 600px;
	background-color: white;
	border: 1px #e0e0e0 solid;
	border-radius: 5px;
}
